:root {
  --primary-color: #2196F3;
  --accent-color: #FF5722;
  --primary-text-color-on-dark-bg: #FFFFFF;
}

body {
  margin: 0;
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.jb-flex-row {
  display: flex;
}

.jb-flex-row--centered {
  align-items: center;
}

.jb-flex-spacer {
  flex-grow: 1;
}

.jb-top-app-bar {
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-color);
  color: var(--primary-text-color-on-dark-bg);
}

.jb-top-app-bar__title {
  font-size: 1.4em;
}

.jb-top-app-bar__link {
  color: var(--primary-text-color-on-dark-bg);
  font-size: 1.2em;
}

.status-bar {
  display: flex;
  align-items: center;
  padding: 16px 32px;
}

.pagination-holder {
  display: flex;
  align-items: center;
}

.page-control {
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  color: var(--primary-color);
  cursor: pointer;
  transition: all .2s;
}
.page-control:hover {
  background: #EEEEEE;
}
.page-control[disabled] {
  color: gray;
  cursor: inherit;
}
.page-control[disabled]:hover {
  background: inherit;
}

.page-status {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1rem;
}

.movies-grid {
  margin: 0 32px 32px;
  background: #FFFFFF;
  box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  border-collapse: collapse;
  min-width: calc(100% - 64px);
  overflow: auto;
}

.movies-grid__header {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #212121;
}

.movies-grid__header-col {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 16px;
  text-align: left;
}

.movies-grid__movie {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #616161;
  transition: all .2s;
}
.movies-grid__movie:hover {
  background-color: #F5F5F5;
}

.movies-grid__movie-col {
  padding: 16px;
  vertical-align: top;
}

.header__title, .movie__title {
  min-width: 120px;
}

.movie__title {
  font-size: 1.4em;
  color: var(--accent-color);
  margin: 0;
}

.movie__main-label {
  font-weight: 500;
}

.movie__genres-holder {
  display: flex;
  flex-wrap: wrap;
}

.movie__genre {
  margin-top: 0;
  min-width: 30%;
  background: #8BC34A;
  color: #FFFFFF;
  margin: 2px;
  padding: 4px 16px 4px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 16px;
}

.header__genres, .movie__genres {
  max-width: 200px;
}

.header__plot-words, .movie__plot-words {
  max-width: 160px;
}
